.red {color: #EE3050;}
.blue {color: #00B9EF;}
.secondary-color {color: #FF8F1C;}
.gray {color: #9B9B9B;}
.light-gray {color: #F3F3F3;}

.ma16 {margin: 1rem;}
.ml16 {margin-left: 1rem;}
.mr16 {margin-right: 1rem;}
.mb16 {margin-bottom: 1rem;}

.mt2 {margin-top: 2px;}
.mt12 {margin-top: .75rem;}
.mt16 {margin-top: 1rem;}
.mt24 {margin-top: 1.5rem;}
.mt32 {margin-top: 2rem;}
.mt72 {margin-top: 4rem;}
.mb72 {margin-bottom: 4rem;}


.pa16 {padding: 1rem;}
.pl16 {padding-left: 1rem;}
.pr16 {padding-right: 1rem;}

.pb16 {padding-bottom: 1rem;}
.pb24 {padding-bottom: 1.5rem;}

.pt16 {padding-top: 1rem;}
.pt24 {padding-top: 1.5rem;}
.pt32 {padding-top: 2rem;}


.txtl {text-align: left;}
.txtc {text-align: center;}
.txtr {text-align: right;}

.txtbold {font-weight: bold;}
.txtnorm {font-weight: normal;}
