


.nickname {
  font-size: 1.25rem;
  font-weight: bold;
}

.email {
  color: #9B9B9B;
}

.btn-selc {
  padding: 1.25rem 0;
  border-bottom: 1px solid #F3F3F3;
}

.btn-selc:last-child {
  border-bottom: none;
}
