.big-outline {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  font-size: 1rem;
}

.no-outline {
  padding: 0;
  border: none !important;
  background: none;
  display: inline;
  overflow: hidden;
}
