body {
  color: #fff;
  background-color: #000;
}
.header {
  position: relative;
  background-color: transparent;
  color: #fff;
  z-index: 99999;
  justify-content: space-between;
}

.wrap-container {
  margin: 0 auto;
  position: relative;
  min-width: 360px;
  min-height: 640px;
  width: calc(100vh * 0.5625);
  height: 100vh;
  overflow: hidden;
}

.backVideo {
  position: absolute;
  top: 0;
  z-index: -99999;
  height: 100vh;
  width: 100%;
}

.i-video {
   height: 100%;
   width: 100%;
}

.wrap-heart {
  position: absolute;
  bottom: 240px;
  right: 1rem;
  padding:0.3rem;
  border-radius: 70%;
  background-color: rgba( 50, 50,  50, 1);

}

.wrap-input-bottom {
  bottom: 0;
  position: absolute;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 94%;
  max-height: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.input-chat {
  background: transparent;
  border-radius: 26px !important;
  color: #fff !important;

}

.input-chat::placeholder {
  color: #fff;
  font-weight: normal;
  opacity: .6;
}

.btn-order {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-selc {
  border-top: 1px solid #FF8F1C;
  color: #FF8F1C !important;
  background: #fff;
}


.wrap-profile {
  position: relative;
}

.iconw {
  width: 16px;
  position: absolute;
  left: 14px;
  top: 24px;
}
