body, html { max-width: none; background: #000; color: #fff;}

.container {
  display: inline-block;
  position: relative;
  height: 100vh;
  max-height: 100%;
  z-index: -9999px;
}

.i-video {
  z-index: 1;
  margin: 0 auto;
  max-height: 100%;
  height: 100vh;
  object-fit: contain;
}

.header {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: inherit;
  background-color: transparent;
}
.iconw {
  width: 16px;
  position: absolute;
  left: 32px;
  top: 48px;
}

.wrapBottom {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 100;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-heart {
  position: absolute;
  bottom: 420px;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 70%;
  border: 2px solid #fff;

}


.icon-chevron-up {
  position: absolute;
  right: 1rem;
  bottom: 10px;
  opacity: .6;
}

.input-chat {
  margin-top: 1rem;
  background: transparent;
  border-radius: 26px !important;
  color: #fff !important;

}

.input-chat::placeholder {
  color: #fff;
  font-weight: normal;
  opacity: .6;
}

.itemDetail {
  margin-bottom: 1rem;
  background: #fff;
  color: #5D5D5D;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.itemTxt {
  padding-left: 1rem;
}


.popup-bottom {
  padding: 0;
  width: inherit;
  z-index: 13234242;
}

.wrap-des {
  border: none;
  width: 100%;
  overflow: scroll;
  border-radius: 16px 16px 0 0;

}

.popup-bottom {
  border-radius: 16px 16px 0 0;
}

.wrapPopup {
  position: relative;
  margin-top: 3rem;
  border-radius: 16px 16px 0 0;
}

.popup-line {
  width: 2rem;
  position: absolute;
  top: -1.25rem;
  left: 0;
  right : 0;
}

.volume-on {
  position: absolute;
  top: 6.5rem;
  left: 1rem;
  padding: .5rem 1rem;
  background: rgba(50, 50, 50, .7);
  border-radius: 24px;
}
